Source: meteosatlib
Section: science
Priority: optional
Maintainer: Enrico Zini <enrico@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 pkg-config, meson,
 libnetcdf-cxx-legacy-dev,
 libeccodes-dev,
 libgdal1-dev (>= 1.6.0),
 libmagick++-dev
Standards-Version: 3.7.3.0
Homepage: https://github.com/ARPA-SIMC/meteosatlib


Package: libmsat1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Low-level library to access Meteosat images (shared)
 This is a collection of libraries with low-level functions to work with
 Meteosat images in several formats.
 .
 Currently supported:
  - HRIT/LRIT
  - HRI
  - OpenMTP
  - OpenMTP-IDS
 .
 This is the shared library.

Package: libmsat-dev
Section: libdevel
Architecture: any
Depends: libmsat1 (=${binary:Version})
Recommends: pkg-config
Description: Low-level library to access Meteosat images
 This is a collection of libraries with low-level functions to work with
 Meteosat images in several formats.
 .
 Currently supported:
  - HRIT/LRIT
  - HRI
  - OpenMTP
  - OpenMTP-IDS
 .
 This is the library for C++ development.

Package: meteosatlib-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: meteosatlib-gdal-drivers, python-gdal, python-gtk2
Description: Read, write, convert and display raster satellite images
 This package provides two tools:
 .
  - msat: a command line tool to crop, scale, convert and display satellite
    images
  - msat-view: an interactive tool to zoom into satellite images and
    georeference points and areas

Package: libgdal32-3.6-meteosatlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GDAL drivers based on Meteosatlib
 GDAL plugins that allow to read and write images using Meteosatlib.
 .
 It adds support for these new formats:
 .
  - MsatXRIT (ro): xRIT (if enabled in meteosatlib)
  - MsatNetCDF (rw): Meteosatlib NetCDF
  - MsatNetCDF24 (rw): Meteosatlib NetCDF24
  - MsatGRIB (rw): GRIB via grib_api

